<mat-card>

    <mat-spinner *ngIf="isLoading"></mat-spinner>

    <form *ngIf="!isLoading" (submit) = "onLogin(loginForm)" #loginForm = "ngForm">
        <mat-form-field>
            <input matInput type="email" placeholder="E-Mail" ngModel name = "email" required email #emailInput = "ngModel">
            <mat-error *ngIf=""> Please enter valid email</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="password" placeholder="password" name="password" ngModel #passwordInput = "ngModel" required>
            <mat-error *ngIf=""> Please enter password</mat-error>
        </mat-form-field>

        <button mat-raised-button color="accent" type="submit">Login</button>

    </form>


</mat-card>