<mat-card>

  <mat-spinner *ngIf = "isLoading"></mat-spinner>
  <form [formGroup] = "form" (submit)="onSavePost()"  *ngIf = "!isLoading">
    <mat-form-field>
      <input 
        matInput
        placeholder="Enter Title"
        type="text" 
        formControlName = "title"
      >
      <mat-error *ngIf="form.get('title').invalid">Enter Title please</mat-error>
    </mat-form-field>

    <div>
      <button mat-storked-button type="button" (click) = "imagePicker.click()">Pick Image</button>
      <input type="file" #imagePicker (change) = "onImagePicker($event)" >
    </div>

    <div class="imagePreviewClass" *ngIf = "imagePreview !=='' && imagePreview ">
       <img [src] ="imagePreview"  [alt]="form.value.title">
    </div>
    <mat-form-field>
      <textarea 
       matInput
        placeholder="Enter Content"
         rows="6" 
         formControlName = "content"
         ></textarea>
      <mat-error *ngIf="form.get('content').invalid">Enter Content please</mat-error>
    </mat-form-field>
    <br>
    <button mat-raised-button type="submit" color="primary">
      Save Post</button>
  </form>

</mat-card>