
:host {
    margin-top: 16px;
    display: block;
}

.mat-body-1 {
    text-align: center;
}

mat-spinner {
    margin: auto;
}

mat-paginator {
   margin-top: 1rem; 
}

.image-view {
    width: 80%;
}

.image-view img {
    width: 100%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}